.confiancanotas-container {
  margin: 0px $l-size;
  padding: $l-size;
  background-color: $cor-fundo-avaliacao;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;

  .filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    input {
      padding: $xs-size;
      border: 1px solid $dark-grey;
      border-radius: $radius;
      width: 60%;
    }

    select {
      padding: $xs-size;
      border: 1px solid $dark-grey;
      border-radius: $radius;
      width: 30%;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: $off-white;
    border-radius: $radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    th {
      padding: 15px;
      text-align: left;

      &:nth-child(1) {
        width: 25%;
        border-top-left-radius: $radius;
      }

      &:nth-child(2) {
        width: 25%;
      }

      &:nth-child(3) {
        width: 25%;
      }

      &:nth-child(4) {
        width: 25%;
        border-top-right-radius: $radius;
      }
    }

    th {
      background-color: $off-grey;
      font-weight: bold;
    }

    td {
      padding: 15px;
      border-top: 1px solid $off-grey;
    }

    tbody {
      tr {
        &:hover {
          background-color: $table-hover;
          cursor: pointer;
        }
      }
    }
  }

  .status-circle {
    display: inline-block;
    width: $xs-size;
    height: $xs-size;
    border-radius: 50%;
    margin-right: $xs-size;
  }

  .status-feito {
    color: $feito-dark-green;
    font-weight: bold;
    background-color: $feito-off-green;
    padding: $xs-size;
    border-radius: $radius;

    .status-circle {
      background-color: $feito-dark-green;
    }
  }

  .status-nao-feito {
    color: $feito-dark-grey;
    font-weight: bold;
    background-color: $feito-off-grey;
    padding: $xs-size;
    border-radius: $radius;

    .status-circle {
      background-color: $feito-dark-grey;
    }
  }

  .status-salvo {
    color: $feito-dark-yellow;
    font-weight: bold;
    background-color: $feito-off-yellow;
    padding: $xs-size;
    border-radius: $radius;

    .status-circle {
      background-color: $feito-dark-yellow;
    }
  }
}

.resposta-avaliada-field {
  background-color: $botao-secundario-hover;
  border-radius: $radius;
  height: auto;
  overflow: auto;
  resize: none;
  margin: $s-size $m-size;
  display: flex;

  .pdf-div {
    margin: 0px;
    width: 5%;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .resposta-div {
    margin: $s-size $m-size;
    width: 95%;

    .confiancaxnota-div {
      display: flex;
      justify-content: space-between;
    }

    .confiancaxnota {
      width: fit-content;
      font-weight: bold;
      padding: $xs-size;
      border-radius: $radius;
    }
  }
}

.div-resposta-avaliada-container {
  flex: 1;
  min-height: 0;
}

.filtro-slider {
  margin: $xs-size;
}


.horizontal-slider {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
}

.track {
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  border-radius: 5px;
}

.track-0 {
  background: #ddd;
}

.track-1 {
  background: $dark-grey;
}

.track-2 {
  background: #ddd;
}

.thumb {
  height: 20px;
  width: 20px;
  background-color: $dark-grey;
  border-radius: 50%;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  position: absolute;
  top: -5px;
}

.filtros-pdf {

  input {
    padding: $xs-size;
    border: 1px solid $dark-grey;
    border-radius: $radius;
    width: 60%;
  }

  select {
    padding: $xs-size;
    border: 1px solid $dark-grey;
    border-radius: $radius;
    width: 30%;
  }
}

.respostas-ordenar-div {
  align-items: center;
  height: 8%;
  display: flex;
  justify-content: space-between;
  position: "sticky" !important;
  top: 0;
  background-color: "#fff";
  z-index: 10;
}

.ordenar-div {
  display: flex;
  margin-left: auto;

  select {
    padding: $xs-size;
    border: 1px solid $dark-grey;
    border-radius: $radius;
    height: 40px;
    width: auto;
  }
}

.div-notas-no-answer-confianca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  text-align: center;
}