.pdf {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}

.div-pdf-questionario {
  width: 50%;
  height: 100%;
  .pdf{
    border-radius: $radius;
  }
}

.div-pdf-avaliacao {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  .pdf{
    border-radius: 0px 0px $radius $radius;
  }
}

.avaliacao-pdf {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}