.div-form {
  width: 50%;
  height: 100%;
}

.no-answers{
  color: $dark-grey;
}

.div-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-top{
  flex-grow: 1;
}

.div-children {
  background-color: $cor-fundo-avaliacao;
  flex-grow: 1;
  overflow: auto;
  border-radius: 0px 0px $radius $radius;
}

.div-no-answer{
  background-color: $cor-fundo-avaliacao;
  flex-grow: 1;
  overflow: auto;
  border-radius: 0px 0px $radius $radius;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-bottom {
  flex-grow: 1;
}

.div-avaliacao {
  border-radius: $radius $radius 0px 0px;
  background-color: $off-white;
  margin: 0px;
  padding: $m-size;
}

.div-title-avaliacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nome-questionario{
  margin-top: $xs-size;
  color: $dark-grey;
}

.title-avaliacao {
  margin: 0px;
  font-size: $font-size-medium;
  font-weight: bold;
}

.form {
  padding: 0px 2*$l-size $l-size $l-size;

  textarea {
    border-width: 0px 0px 1.5px 0px;
    border-color: $light-grey;
    border-radius: $radius;
    height: auto;
    padding: $xs-size;
    width: 100%;
    overflow: auto;
    resize: none;
  }
}

.text-question {
  margin: $m-size 0px $xs-size !important;
  font-size: $font-size-small;
}

.input-error {
  border-color: $error;
}

.text-error {
  color: $error;
}

.button-cancel {
  background-color: $off-white;
  color: $botao-secundario;

  &:hover {
    background-color: $botao-secundario-hover;
  }
}

.button-right {
  margin-left: auto;
}

.div-form-button {
  margin-top: $m-size;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.div-form-button-no-margin {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.form_error {
  color: $error;
}

.div-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.obrigatorio {
  color: $error;
}

.button-disabled {
  background-color: $cor-primaria;
  color: $botao-secundario;
  border: 1px solid $botao-secundario;

  &:hover {
    cursor: default;
    background-color: $cor-primaria;
  }
}