.div-notas {
    display: flex;
    max-width: 100%;
    gap: $l-size;
    padding: 0px $l-size;
    justify-content: space-between;
    height: 80vh;
}

.div-filtros {
    padding: $s-size;
    width: 30%;
    background-color: $off-white;
    border-radius: $radius;
    position: relative;

    .filtros-geral-title {
        font-weight: bold;
    }

    .filtro-title {
        margin-top: $s-size;
    }

    .filtro-opcao {
        color: $dark-grey;
    }

    input[type="checkbox"] {
        accent-color: $dark-grey;
    }
}

.limpar-filtro {
    position: absolute;
    bottom: $s-size !important;
    right: $s-size;
}

.div-answer {
    width: 70%;
    background-color: $cor-fundo-avaliacao;
    border-radius: $radius;
}

.div-notas-no-answer {
    width: 70%;
    background-color: $cor-fundo-avaliacao;
    flex-grow: 1;
    overflow: auto;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-geral-grafico {
    width: 70%;
    background-color: $cor-fundo-avaliacao;
    border-radius: $radius;
}

.div-geral-grafico-tempo {
    width: 100%;
    background-color: $cor-fundo-avaliacao;
    border-radius: $radius;
}

.div-grafico {
    margin-top: $xs-size;
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: space-between;
}

.div-grafico-confianca-container {
    margin-top: $xs-size;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.div-graficos-confianca {
    width: 100%;
    height: 82%;

    p{
        font-weight: bold;
        margin: $s-size $m-size $xs-size;
    }
}

.div-grafico-legenda{
    width: 30%;
    padding: $s-size;
    
    h4{
        margin-bottom: 0px;
    }
}