.container {
    width: 20vw;
    height: $xs-size;
    background-color: $off-grey;
    border-radius: $radius;
    position: relative;
  }
  
  .bar {
    height: 100%;
    background-color: $cor-primaria;
    border-radius: 4px;
    transition: width 0.3s ease;
  }
  
  .progress-container {
    display: flex;
    align-items: center; 
  }
  
  .text {
    margin-left: 10px;
    font-size: 14px;
  }
  