// Colors
$cor-primaria: #252525;
$cor-secundaria: #CDCDCD;
$cor-fundo-avaliacao: #F5F5F5;
$botao-primario: #1A4FB6;
$botao-primario-hover: #1155a3;
$botao-secundario: #565A63;
$botao-secundario-hover: #e0e0e0;
$off-white:#FEFEFE;
$error: #D92344;
// Font Sizes
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 1.8rem;
// Spacing
$xs-size: 8px;
$s-size: 12px;
$m-size: 24px;
$l-size: 32px;
$xl-size: 64px;
$max-width: 80%;
$desktop-breakpoint: 45rem;
//Radius
$radius: 8px;