// Colors
$cor-primaria: #252525;
$cor-secundaria: #CDCDCD;
$cor-terciaria: #454545;
$cor-fundo-avaliacao: #F5F5F5;
$botao-primario: #1A4FB6;
$botao-primario-hover: #007bff;
$table-hover: #d0d0d083;
$botao-secundario: #565A63;
$botao-secundario-hover: #e0e0e0;
$dark-grey: #808080;
$dark-grey-darker: #505050;
$off-grey: #D0D0D0;
$light-grey: #A0A0A0;
$off-white:#FEFEFE;
$error: #D92344;
$error-2: #d9234470;
$feito-dark-green: #037847;
$feito-off-green: #03784725;
$feito-dark-grey: #6C778B;
$feito-off-grey: #6C778B25;
$feito-dark-yellow: #C47E00;
$feito-off-yellow: #C47E0025;
// Font Sizes
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 24px;
// Spacing
$xs-size: 8px;
$s-size: 12px;
$m-size: 24px;
$l-size: 32px;
$xl-size: 64px;
$max-width: 80%;
$desktop-breakpoint: 45rem;
//Radius
$radius: 8px;